

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


BODY {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #777;
	line-height: 24px;
	text-align: justify;
}

.my_navbar {
	width: 100%;
	margin: 0;
	padding:5px 15px;
	vertical-align: middle !important;
	background: rgba(0, 0, 0, 0.5);
	border-top: 1px solid #fff;
}

.top_left {
	text-align: left;
	vertical-align: middle !important;
	padding-top: 15px;
}

.top_middle {
	text-align: center;
}

.top_right {
	text-align: right;
	vertical-align: middle !important;
	padding-top: 15px;
}

.top_section {
	background-image: url('../img/top_bg.jpg');
	background-size: cover;
	min-height: 700px;
	position: relative;
	text-align: center;
}

.top_box {
	width: 100%;
	position: relative;
	max-width: 580px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 25px 35px;
	margin: 350px auto 90px auto;
	text-align: center;
}

.top_section2 {
	text-align: center;
	background:#e0e0e0;
	width: 100%;
	padding: 23px 10px 15px 10px;
	margin: 0 auto 35px auto;
}


.center {
	text-align: center !important;
	margin: 0 auto !important;
}

.my_box {
	background: #ededed;
	width: 100%;
	min-width: 300px;
	max-width:440px;
	border-radius: 20px;
	min-height: 520px;
	padding: 20px 15px;
	text-align: center;
	margin: 20px auto;
}

.my_box_head {
	padding: 14px 0 12px 0;
	background: #ce019e;
	font-weight: 500;
	font-size: 22px;
	color: #fff;
	margin: -20px -15px 0 -15px;
	border-radius: 20px 20px 0 0;
}

.my_select {
	padding: 12px 20px;
	font-size: 15px;
	color: #999;
	font-weight: 500;
	width: 80%;
	margin:  12px auto;
	border: 1px #eee solid;
	border-radius: 10px;
}

.search_form {
	margin-top: 25px;
}

.my_but {
	background: #ce019e;
	font-size: 19px;
	font-weight: 500;
	color: #fff;
	padding: 10px 15px 8px 15px;
	margin: 20px auto 10px auto;
	border: none;
	text-align: center;
	width: 180px;
}



.my_but:hover,
.my_but2:hover,
.my_but3:hover {
	cursor: pointer;
	background: #333;
}

.my_but2 {
    background: #9c9c9c;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	padding: 6px 8px 4px 8px;
	margin: 10px auto 8px auto;
	border: none;
	text-align: center;
	width: 120px;
}

.my_but3 {
	background: #ce019e;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	padding: 6px 9px 6px 9px;
	border: none;
	text-align: center;
	width: 140px;
}

.feature_list {
	list-style: none;
	text-align: left;
}

.feature_list li {
	margin: 8px 0;
}

ul.feature_list li {
	list-style-position: outside !important;
	background: url('../img/tick.png') no-repeat 7px 0px;
	padding: 10px 0px 10px 60px;
	font-size: 17px;
	color: #888;
	font-weight: 300;
	margin-top: 5px;
}

.gray_box {
	padding: 35px 5px;
	background: #f2f2f2;
}



.mt20 {
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.features h2 {
	padding-left: 45px;
}

.categories img {
	width: 100%;
}

.categories img:hover {
	cursor: pointer;
	opacity: 0.70;
}


footer {
	width: 100%;
	padding: 14px 0 10px 0;
	color: #fff;
	background: #ce019e; 
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.foot_left {
	font-size: 11px;
}

.top_acts img {
	width: 100%;
}

.top_acts img:hover {
	cursor: pointer;
	opacity: 0.70;
}

.top_acts h4 {
	color: #777;
	font-weight: 500;
	font-size: 15px;
	margin: 15px auto;
}

.site_bottom {
	width: 100%;
	background:#f5f5f5;
	padding: 20px 0;
}



.sep:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 22%; /* Change this to whatever width you want to have before hover. */
    padding-top: 15px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #ccc; /* This creates the border. Replace black with whatever color you want. */
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
    margin: 0 auto;
    text-align: center;
}

.sep:hover:after {
    width: 36%; /* This will be the new width of your border when on hover */
}

.hide {
	opacity: 0;
}

.site_bottom h3 {
    font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #333;
}

.site_bottom a:link,
.site_bottom a:visited,
.site_bottom a:active {
	color: #777;
	text-decoration: none;
}

.site_bottom a:hover {
	color: #333;
}

.subscribe {
	border: none;
	border-radius: 5px;
	color: #888;
	font-size: 12px;
	padding: 6px 10px;
	width: 90%;
	margin: 10px 0 15px 0;
}

.testi_box {
	background-image: url('../img/testi_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 448px;
}

.testi_head {
	color: #fff;
	font-size: 40px;
	padding: 60px 0 35px 0;
	font-weight: 100;
}

.hover:hover {
	opacity: 0.70;
	cursor: pointer;
}

.testimonial {
	font-size: 23px;
	font-weight: 300;
	color: #fff;
	line-height: 35px;
	font-style: italic;
}

.testimonial .user {
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	margin: 10px auto;
}

.carousel-control-prev {
    left: -110px !important;
}
.carousel-control-next {
    right: -100px !important;
}

.carousel-indicators {

    bottom: -60px !important;
    }



h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 39px;
	color: #fff;
	font-weight: 100;
	line-height: 50px;
	text-transform: uppercase;
}

h2 {
	font-family:  'Roboto', sans-serif;
	font-size: 32px;
	color: #ce019e;
	font-weight: 500;
	line-height: 44px;
	text-transform: uppercase;
}

h3 {
	font-family:  'Roboto', sans-serif;
	font-size: 30px;
	color: #ce019e;
	font-weight: 300;
	line-height: 36px;
	text-transform: uppercase;
}

h5 {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
}

h4 {
	text-transform: uppercase;
	color: #444;
	font-size:23px;
	font-weight: 300;
}



